.flex-container {
    display: flex;
}
.img-container{
    background-color: #999;

    min-height: 200px;
    min-width: 120px;
    max-height: 600px;
    display: inline-block;
    overflow: hidden;
    width:32%;
}
.flex-container{
    height: 25%;
}

.img-container img {
    width: 100%;
    vertical-align: middle;
    height: auto;
    width: auto;
}