<!DOCTYPE html>
<html>
<head>
	<title>MobileUI template</title>
	<meta name="viewport" content="minimal-ui, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
	<meta name="msapplication-tap-highlight" content="no"/>
	<meta name="format-detection" content="telephone=no"/>

	<link rel="stylesheet" href="mobileui/mui.min.css" type="text/css">
	<link rel="stylesheet" href="custom/custom.css" type="text/css">
	<link rel="stylesheet" href="/css/app.css">
	<script src="cordova.js"></script>
	<!--<script src="vendors/fastclick.min.js" type="text/javascript"></script>-->
	<!--view links-->
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="../custom/view/images/icons/favicon.ico"/>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../custom/view/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../custom/view/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../custom/view/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../custom/view/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../custom/view/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../custom/view/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../custom/view/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../custom/view/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../custom/view/css/util.css">
	<link rel="stylesheet" type="text/css" href="../custom/view/css/main.css">
	<!--===============================================================================================-->

	<!--mobile ui links-->
	<link rel="stylesheet" href="mobileui/mui.min.css" type="text/css">
    <link rel="stylesheet" href="mobileui/mui.min.css" type="text/css">
    <link rel="stylesheet" href="custom/custom.css" type="text/css">

    <script src="cordova.js"></script>
    <!--<script src="vendors/fastclick.min.js" type="text/javascript"></script>-->

	<script src="vendors/jquery.min.js" type="text/javascript"></script>
	<script src="vendors/jquery.animate-enhanced.js" type="text/javascript"></script>
	<script src="vendors/jqwait/jquery.wait.min.js" type="text/javascript"></script>
	<!-- <script src="vendors/iscroll-min.js" type="text/javascript"></script> -->
	<!--view scripts-->
	<!--===============================================================================================-->
	<script src="../custom/view/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="../custom/view/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="../custom/view/vendor/bootstrap/js/popper.js"></script>
	<script src="../custom/view/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="../custom/view/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="../custom/view/vendor/daterangepicker/moment.min.js"></script>
	<script src="../custom/view/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="../custom/view/vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="../custom/view/js/main.js"></script>

	<!--mobile ui scripts-->
    <script src="cordova.js"></script>
 	<!--<script src="vendors/fastclick.min.js" type="text/javascript"></script>-->

    <script src="vendors/jquery.min.js" type="text/javascript"></script>
    <script src="vendors/jquery.animate-enhanced.js" type="text/javascript"></script>
    <script src="vendors/jqwait/jquery.wait.min.js" type="text/javascript"></script>
    <!-- <script src="vendors/iscroll-min.js" type="text/javascript"></script> -->

	<script src="mobileui/mui.min.js" type="text/javascript"></script>
	<script src="custom/custom.js" type="text/javascript"></script>
</head>
<body>
<div id="app">
	<!-- Main wrapper. Importantly, think carefully before you change it or remove it. Do not recommend it. -->
	<!-- Main wrapper. Importante, Piénselo bien antes de cambiarlo o quitarlo. No se lo recomiendo. -->
	<div id="mui-screen" class="mui-viewport">
		<div id="mui-screen-page" class="mui-page">
			<!-- Ddefault viewport. Do not remove. It will make your life simpler and happy. -->
			<!-- ViewPort por defecto. No lo elimines. Hará tu vida más simple y feliz. -->
			<div id="mui-viewport" class="mui-viewport">

				<div id='home-page' class="mui-page">
					<div class="mui-page-header">
						<div class="mui-page-logo"></div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body mui-scrollable" id="home-body">
						<div> <!-- important for scroll! -->
							<div id='delete-me' style="margin: 50px; text-align: center; text-decoration: underline">
							</div>
						</div>
					</div>
				</div>
				<dish-page-component v-on:mandar="abrir" v-on:addcarrito="agregaracarrito"></dish-page-component>
				<profile-page-component></profile-page-component>
				<createdish-page-component></createdish-page-component>

                <login-page-component></login-page-component>


                <forgot-page-component></forgot-page-component>
				<weekdish-page-component></weekdish-page-component>
                <register-page-component></register-page-component>


				<modal-two  ref="modal" title="Carrito">

					<div>
						<div v-if="carrito.length===0">Carrito vacio</div>
						<div v-else></div>
						<div style="overflow: auto">
							<div v-for="dish in carrito" :id=dish[1] > {{dish[0]}}      -{{dish[2]}} $ </div>
						</div>


						<div class="flex-container"><div style="margin-right: 25%">Total: {{total}}$</div><button style="margin-left:25% " v-if="carrito.length>0" @click="sacardish">Borrar Carrito</button>
						</div>
					</div>


				</modal-two>




				<!-- Copy the code of "template-page" to add more pages -->
				<!-- Copie el código de template-plage para agregar más páginas -->

			</div>

			<!-- Optional.Toolbar out of mui-viewport to be omnipresent. Remove if not needed. -->
			<!-- Opcional. Barra de herramientas fuera de mui-viewport para ser omnipresente. Elimínalo si no lo necesitas. -->
			<tab-bar-compnent></tab-bar-compnent>
		</div>

		<!-- mui-screen level panel -->
		<!-- Panel a nivel de mui-screen -->
		<mui-panel-component></mui-panel-component>

	</div>

</div>
</body>

<script type="text/javascript" src="js/output.js"></script>
</html>