
.img-container{
    background-repeat: no-repeat;
    height:100%;
    display: inline-block;
    overflow: hidden;
    width:32%;
    background-size: contain;
    margin: 1px;

}

.profilecont{
 background-color: rgba(239, 171, 77, 0.87);
    border-radius: 4%;

    margin : 2px;
}

.img-container img {
    width: 100%;
    vertical-align: middle;
    height: auto;
    width: auto;


}
.profile-1half{
    margin: 5px;
    width: 40%;
    height:100% ;

}
.profile-2half{
    margin: 5px;
    margin-left: 10%;
    width: 40%;
    height:100% ;

}
#profile-photo{
    border-radius: 50%;
    background:none;
    background-size:cover;
    background-repeat: no-repeat;
    margin: 0px;
    padding:0px;
    border: 0px;
    width: 32%;
    margin-left:32% ;
    margin-right:32%;

    margin-top: 15px;
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
}
#subsHolder {
    height: 13%;
    margin: 5px;

}
#subscrito{
    height: 100%;
    border-radius:5px;
    min-width: 70%;height: 100%;
    margin-left: 15%;
    margin-right: 15%;

}

#price{
    height: 15%;
}
.profile-2half div{
    margin-right: 5%;
    margin-left: 5%;
}
#coinimage{
    background-size:contain;
    background-repeat: no-repeat;
    background-image: url("/../css/img/kissclipart-coin-icon-dollar-icon-finance-icon-de4a854fbfa89ef5.png");
    margin: 0px;
    padding:0px;
    border: 0px;
    margin-left:20%;
    height: 70%;

}
#cart{
    height: 20%;


}
#cartimage{
    background-size:contain;
    background-repeat: no-repeat;
    background-image: url("/../css/img/FAVPNG_shopping-cart-shopping-bags-trolleys-healthy-route-66-kendall-grocery-store_5HpkpgJw.png");
    margin: 0px;
    padding:0px;
    border: 0px;
    height: 30px;
    margin-left:20%;
    max-height: 50%;
}
#micarrito{
    background-color: #ffcfc3;
    position: absolute;
    right:50px;
    top: 10px;
    height: 30px;
    max-width: 30.5px;
    min-width: 30.5px;
    background-size:contain;
    background-repeat: no-repeat;
    background-image: url("/../css/img/FAVPNG_shopping-cart-shopping-bags-trolleys-healthy-route-66-kendall-grocery-store_5HpkpgJw.png");
    margin: 0px;
    padding:0px;
    border: 0px;
    border-radius: 5px;
}
#chefoption{
    background-color: #ffcfc3;
    position: absolute;
    left:50px;
    top: 10px;
    height: 30px;
    max-width: 30.5px;
    min-width: 30.5px;
    background-size:contain;
    background-repeat: no-repeat;
    background-image: url("/../css/img/chefIcon.png");
    margin: 0px;
    padding:0px;
    border: 0px;
    border-radius: 5px;
}

#realtiveDiv{
    position: relative;
    width: 100%;
    height: 100%;
}

#subirsemanales{
    color: whitesmoke;
    position: absolute;
    background-color: darkred;
    height: 30px;
    min-width: 30.5px;
    background-size:contain;
    background-repeat: no-repeat;
    margin: 5%;
    border-radius: 5px;
    bottom: 0;
    left: 0;

}
.popuHold{
    height:95%;
    width: 40%;
    margin: 0;
    padding: 0;
    border: 0;
}
.sus{
    border: #999999;
    background-color: darkred;
}
unsus{
    border: #FAFAF9;
    background-color: #575757;
}
.review{
    display: block;
    height: 30px;
    margin: 1px;

}
#reviews{
    height: 30%;
    overflow: auto;
}

.more{
}
#creationHolder{
    height: 80%;
    margin-left:7%;
    margin-right:7%;
    margin-top: 5%;
}
#creationHolder div{
    margin: 5px;
}
#creationHolder input{
    margin: 5px;
    border: 0;
}#creationHolder span{
    margin: 15px;
    border: 0;
}
.disheselector{
    width: 100%;
    height:360px;
    background-size:cover;
    border-radius: 5%;

 }
.dishCheck{
    height: 100%;
    width: 100%;
    min-width:10px;
    border-radius:10%;
    background-color: #FAFAF9;
}
.selec{
    background-color: #18cfef;
}
.unselec{
    background-color: #FAFAF9;
}

.logo-cat{
    border-radius: 10%;
    max-width: 10%;
    max-height: 10%;
    margin-right: 2%;
    margin-bottom: 5%;
}
.review{
    background-color: #99999924;
    margin-bottom: 1%;
    border-radius: 4%;
}
.item-header-main{
    font-weight: bold;
}
.item-header-secondary{
    background-color: #99999924;
    border-radius: 5%;
    border: #575757;

}
.creational{
    background-color: #99999924;
    border-radius:1%;
    border:2px;
    border: #0b2e13;
    padding:3px;
}
.dotType{
    border-radius: 100%;
    max-height: 6px;
    min-width: 6px;
    margin: 5px;
}

.centereli{
    background-color: #1b1e21;
    margin-bottom: 1%;
    margin-top: 1%;
    border:1px;
    border: #575757;
    height:30px;
}
.centerA {
    margin-bottom: 3.4px;
    margin-top: 5.4px;
    margin-left: 25%;
    margin-right: 25%;
}


.noty_theme__mint.noty_type__error {
    background-color: #a70c02  !important;
    border-bottom: 1px solid #b8180d !important;
    color: #fff;
}
.weekdish {
    background-color: #99999924;
    border-radius: 5%;
    height: 30px;
}

/*KEEN UI OVERRIDES*/


.ui-modal__header {
    background-color: black !important;
    color: #e5bf32 !important;
    border-bottom: 4px solid  #e5bf32 !important;

}

.ui-modal__container {
    background-color: white;
    border-radius: 0.125rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    display: inline-block;
    margin: 0 auto;
    max-height: 100vh;
    max-width: 80vw !important;
    outline: none;
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
    overflow: hidden;
    padding: 0;
    text-align: initial;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 33rem;
}

/*.ui-modal__body{
    min-height: 150px;
}*/


/*BTN BOOTSTRAP NEW CLASSES*/

.btn-app-red {
    color: #fff;
    background-color: darkred;
    border-color: darkred;
}

.btn-app-red:hover {
    color: #fff;
    background-color: #6c0303;
    border-color: #710909;
}

.btn-app-red:focus, .btn-app-red.focus {
    color: #fff;
    background-color: #6c0303;
    border-color: #710909;
    box-shadow: 0 0 0 0.2rem #6c0303;
}

.btn-app-red.disabled, .btn-app-red:disabled {
    color: #fff;
    background-color: #553939;
    border-color: #553939;
}

.btn-app-red:not(:disabled):not(.disabled):active, .btn-app-red:not(:disabled):not(.disabled).active,
.show > .btn-app-red.dropdown-toggle {
    color: #fff;
    background-color: #710909;
    border-color:#6c0303;
}

.btn-app-red:not(:disabled):not(.disabled):active:focus, .btn-app-red:not(:disabled):not(.disabled).active:focus,
.show > .btn-app-red.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #6c0303;
}

